<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Attendance System</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>
<center>
 <body style="background-color:#1d428a;">
   <div class=container mt-4">
     <div class="card">
        <div class="card-body">
          <h2>Click if you want to update the game</h2>
           <form action="update" method="POST">
           <button type="submit" class="btn btn-primary">Update</button>
         </form>
         <div>
          <br></br>
          <h6> <%=update %> </h6>
         </div>
   </div>
   </div>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Get player info</h2>
         <form action="get_player_info" method="POST">
           <div class="form-group">
             <label for="player_name">Player Name</label>
             <input type="text" class="form-control col-lg-9" id="player_name" aria-describedby="emailHelp" placeholder="Enter player name" name="player_name">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
   </div>
 </div>
<div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Add an NBA Organization below</h2>
         <form action="insert_org" method="POST">
           <div class="form-group">
             <label for="org_name">Organization Name</label>
             <input type="text" class="form-control col-lg-9" id="org_name" aria-describedby="emailHelp" placeholder="Enter Organization name here" name="org_name">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        </div>
      </div>
</div>
<div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Delete an NBA Organization below</h2>
         <form action="delete_org" method="POST">
           <div class="form-group">
             <label for="org_name">Organization Name</label>
             <input type="text" class="form-control col-lg-9" id="org_name" aria-describedby="emailHelp" placeholder="Enter Organization name here" name="org_name">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        </div>
      </div>
</div>
<div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Get player names</h2>
         <form action="guess" method="POST">
           <div class="form-group">
             <label for="player_name">Player Name</label>
             <input type="text" class="form-control col-lg-9" id="player_name" aria-describedby="emailHelp" placeholder="Enter player name" name="player_name">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
           <div> 
                <br></br>
                <h6> <%= data %> </h6>
           </div>
         </form>
   </div>
</div>
<div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Find team wins below</h2>
         <form action="team_wins" method="POST">
           <div class="form-group">
             <label for="org_name">Organization Name</label>
             <input type="text" class="form-control col-lg-9" id="org_name" aria-describedby="emailHelp" placeholder="Enter Organization name here" name="org_name">
           </div>
           <div class="form-group">
             <label for="year">Year</label>
             <input type="text" class="form-control col-lg-9" id="year" aria-describedby="emailHelp" placeholder="Enter year here" name="year">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        </div>
      </div>
</div>
 </body>
<center>
</html>